* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #2c2c54;
  font-family: Arial, sans-serif;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 80%;
  max-width: 1200px;
}


/*
Logo Part
*/

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 50%;
  max-width: 100%;
}

.logo-container img {
  max-width: 100%;
  height: auto;
  min-width:45%;
  max-width: 100%;
}

.row{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  
}

.logo-container span {
  margin-top: 10px;
  font-size: 1.5rem;
  min-width:100%;
  max-width: 100%;
}

/*
Form Part
*/

.form-container {
  background-color: #191939;
  padding: 30px;
  border-radius: 20px;
  min-width: 350px;
  max-width: 100%;
}

label {
  display: block;
  color: #e0e0f0;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: #2c2c54;
  color: white;
}
h3{
  text-align: center;
  margin-bottom: 20px;
}

#forgot {
  text-align: center;
  margin-top: 20px;
  color: #d1d1f7;
  cursor: pointer;
}
.remember {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}


label[for="rem"] {
  display: inline-block;
  color: #e0e0f0;
  vertical-align: middle;
}

input[type="checkbox"] {
  margin-right: 10px;
  cursor: pointer;
}

.signin{
  display: flex;
  justify-content: flex-end;
}

button {
  width: auto;
  padding: 12px 20px;
  background-color: #6a63f6;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}
